<div class="container grid-student">
  <!-- Content here -->
  <h4 class="display-4">Campus de estudiantes</h4>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae error
    inventore delectus a reprehenderit. Ipsum aliquam consequuntur voluptate!
    Saepe odit omnis ullam, autem illum veritatis at blanditiis doloremque ipsum
    dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    dolorem et quaerat id reprehenderit nesciunt nulla. Repellat quisquam quas
    asperiores recusandae enim sapiente, odio, eos doloremque consequuntur odit
    excepturi sequi? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Hic quas animi nihil reprehenderit, qui, quos nulla id facilis incidunt
    architecto repudiandae culpa, molestias quae laboriosam esse vitae et
    accusamus soluta.
  </p>
  <div>
    <app-directivas-estudiantes></app-directivas-estudiantes>
  </div>
  <hr />
  <div>
    <app-formulario-reactivo></app-formulario-reactivo>
  </div>
</div>
