<body class="father-body">
  <h2 appEstiloCabeceras class="display-3">Sesion de Logeo</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nulla
    modi, necessitatibus nostrum fugit doloremque laboriosam enim esse, quidem
    dolorem aut nam quae similique, facilis molestias. Rem fugit sapiente nulla.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus
    repellat cum. Eveniet est odio deleniti accusantium earum iste sapiente
    veritatis molestiae beatae recusandae, ducimus ipsa temporibus quo totam
    facilis!
  </p>
</body>
