<h2 appEstiloCabeceras>Crear Usuario</h2>

<form [formGroup]="formularioEstudiante" (ngSubmit)="agregarEstudiante()">
  <div class="diseno-formulario">
    <label class="diseno-label" for="">Nombre:</label>
    <input type="text" formControlName="nombre" />
    <p
      *ngIf="formularioEstudiante.get('nombre')?.touched && formularioEstudiante.get('nombre')?.errors?.['required']"
      class="error-formulario"
    >
      Completar tu nombre es obligatorio*
    </p>
  </div>

  <div class="diseno-formulario">
    <label class="diseno-label" for="">Correo:</label>
    <input type="email" formControlName="correo" />
    <p
      *ngIf="formularioEstudiante.get('correo')?.touched && formularioEstudiante.get('correo')?.errors?.['required']"
      class="error-formulario"
    >
      Indicar una direccion de correo es obligatorio*
    </p>
    <p
      *ngIf="formularioEstudiante.get('correo')?.touched && formularioEstudiante.get('correo')?.errors?.['pattern']"
      class="error-formulario"
    >
      Debes indicar una direccion de correo valida*
    </p>
  </div>

  <div class="diseno-formulario">
    <label class="diseno-label" for="">Contraseña:</label>
    <input type="password" formControlName="contrasena" />
    <p
      *ngIf="formularioEstudiante.get('contrasena')?.touched && formularioEstudiante.get('contrasena')?.errors?.['required']"
      class="error-formulario"
    >
      Debes crear una contraseña
    </p>
    <p
      *ngIf="formularioEstudiante.get('contrasena')?.touched && formularioEstudiante.get('contrasena')?.errors?.['minlength'] "
      class="error-formulario"
    >
      Tu contraseña debe tener al menos 6 caracteres*
    </p>

    <p
      *ngIf="formularioEstudiante.get('contrasena')?.touched && formularioEstudiante.get('contrasena')?.errors?.['pattern'] "
      class="error-formulario"
    >
      Tu contraseña debe tener al menos una mayuscula*
    </p>
  </div>

  <div class="diseno-formulario">
    <label class="diseno-label" for="">Confirmar Contraseña:</label>
    <input type="password" formControlName="contrasenaConfirm" />

    <p
      class="error-formulario"
      *ngIf="
        formularioEstudiante.get('contrasenaConfirm')?.touched &&
        formularioEstudiante.errors?.['passwordsDontMatch']
      "
    >
      Las contraseñas deben coincidir*
    </p>
  </div>

  <div class="diseno-formulario">
    <label for="">Selecciona un tipo de Usuario:</label>
    <select formControlName="administrador">
      <option value="Estudiante">Estudiante</option>
      <option value=" Administrador">Administrador</option>
    </select>
  </div>

  <button
    class="diseno-formulario"
    type="submit"
    [disabled]="formularioEstudiante.invalid"
  >
    Agregar Usuario
  </button>
</form>
